* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    border: 1px solid rgb(25, 0, 255);
    background: #0ca6cc;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 840px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    background: cyan;
}
.profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
.nav-link {
    transition: .3s;
    padding: 0 30px;
    line-height: 40px;
    text-decoration: none;
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}
.section-item a {
    color: #1b0d99;
    text-decoration: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
ul, ol, p, code {
    font-size: 16px;
}
.footer-p {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: cyan;
}